{
  "presets": [
      ["env",  {
          "modules": false,
          "targets": {
            'ie': 11,
            'chrome': 40
          },
          "useBuiltIns": true
    }]
  ],
  "plugins": [

    "transform-runtime", "syntax-dynamic-import", "transform-vue-jsx", "transform-async-to-generator", "transform-object-rest-spread"]

}
